.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid grey;
    width: 70%;
    height: 100%;
    padding: 1%;
    background-color: whitesmoke;
    padding: 1rem;
    border: 1px solid #777;
    border-radius: .25rem;
    font-size: .9rem;
    font-family: "Segoe UI", Arial, sans-serif;
}

.flex-child-two{
    margin-left: 2%;
    margin-right: 20px;
    width: 30%;
    height: 100%;
}

